.flip-button {
    background-color: rgba(41, 41, 230, 0.842);
    color: rgba(209, 209, 226, 0.897);
    position: absolute;
    height: 5vh;
    bottom: 5vh;
    width: 10vw;
    left: 5vw;
    font-size: 16px;
    z-index: 1;
}