.flip-button {
    background-color: rgba(41, 41, 230, 0.842);
    color: rgba(209, 209, 226, 0.897);
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    height: 5vh;
    top: 42.5vh;
    width: 10vw;
    left: 40vw;
    font-size: 16px;
}